.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-bottom: 2px solid var(--color-2);
}

.imageContainer {
  position: relative;
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 12px;
  margin: 10px;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}
