@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --color-1: #f4f4f7;
  --color-2: #701d22;
  --color-3: #6368ee;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-1);
}

body,
main,
div {
  background-color: var(--color-1);
}

p,
a {
  color: var(--color-3);
}

a {
  text-decoration: none;
}

.container {
  border-radius: 5px;
  margin: 8px;
  padding: 4px 8px 4px 8px;
}

