.container {
  display: flex;
  justify-content: center;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  gap: 4px;
  margin: 16px;
}

.imageContainer {
  width: 50%;
  position: relative;
  aspect-ratio: 1/1;
  border-radius: 12px;
  margin: 10px;
  overflow: hidden;
}
